*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

.hotel, button{
    cursor: pointer;
}

.hotel{
    background-color: hsl(0, 0%, 90%);
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
}

.hotelName{
    font-weight: bolder;
}

.row{
    display: flex;
    flex-direction: row;
}